{{#section 'css'}}
<link rel="stylesheet" href="/public/css/userForm.css">
{{/section}}
{{#section 'js'}}
<script src="/public/js/userForm.js"></script>
<script>
    var userData = {{{ json user }}}
    $(document).ready(function () {
        initializeUserForm("admin");
    });
</script>

{{/section}}

<a name="" id="" class=" mb-5 ml-3" href="/admin/user/list" role="button">
    <img src="/public/images/icon/back.png" alt="" width="40px">
</a>
<form id="frmUser" action="" method="post">
    <div class="container col-8">
        <div class="card">
            <div class="card-header profile_container_header d-flex">
                <h4 class="mr-3 mt-2">New <b>Admin</b></h4>
                <img src="/public/images/icon/icons8-pencil-40.png" alt="" width="4%">
            </div>
            <div class="card-body profile_container_body ml-4 " style="font-weight: 600; ">
                {{> userForm userType="admin"}}
            </div>
            <div class="button-container_Add mb-5">
                <button type="submit" class="btnSaveEdit btnActionEdit ">
                    <img src="/public/images/icon/icons8-save-100.png" alt="" width="20%">
                    Save
                </button>
            </div>
        </div>
    </div>
</form>