{{#section 'css'}}
<link rel="stylesheet" href="/public/css/userForm.css">
{{/section}}
{{#section 'js'}}
<script src="/public/js/userForm.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script>
    var userData = {{{ json user }}};
    $(document).ready(function () {
        initializeUserForm("editor");
        $('#my-multiselect').select2();
        $('#my-multiselect').next('.select2-container').addClass('custom_input_profile mr-5');
        $('.select2-container .select2-selection').addClass('custom_input_profile_no_border');
    });

</script>

{{/section}}

<a name="" id="" class=" mb-5 ml-3" href="/admin/user/list" role="button">
    <img src="/public/images/icon/back.png" alt="" width="40px">
</a>
<form id="frmUser" action="" method="post">
    <div class="container col-8">
        <div class="card">
            <div class="card-header profile_container_header d-flex">
                <h4 class="mr-3 mt-2">New <b>Editor{{user.user_id}}</b></h4>
                <img src="/public/images/icon/icons8-pencil-40.png" alt="" width="4%">
            </div>
            <div class="card-body profile_container_body ml-4 " style="font-weight: 600; ">
                {{> userForm user_id=user.user_id username=user.username password=user.password fullname=user.fullname
                email=user.email phone_number=user.phone_number birth_date=user.birth_date userType="editor"}}
                <div class="form-group d-flex justify-content-between mb-4">
                    <label for="">Role</label>
                    <select id="my-multiselect" name="categories[]" multiple="multiple"
                        class="form-control custom_input_profile mr-5" required>
                        {{#each categories}}
                        <option value="{{category_id}}" {{#if (contain_assignment ../oldCategories this.category_id)}}
                            selected {{/if}}>
                            {{category_name}}
                        </option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="button-container_Add mb-5">
                <button type="submit" class="btnSaveEdit btnActionEdit ">
                    <img src="/public/images/icon/icons8-save-100.png" alt="" width="20%">
                    Save
                </button>
            </div>
        </div>
    </div>
</form>