<div class="container">
    <div class="row">
        <!-- Swiper -->
        <div class="swiper mySwiper" style="height: 450px;">
            <div class="swiper-wrapper">
                {{#each featuredArticles}}
                <div class="swiper-slide">
                    <img class="d-block w-100" src="/public/images/article/1/main.jpg" alt="First slide">
                    <div class="swiper-caption">
                        <div class="">
                            <a href="">{{category_name}}</a>
                            <a class="ml-3">{{published_date}}</a>
                        </div>
                        <a class="" href="">{{title}}</a>
                    </div>
                </div>
                {{/each}}
            </div>
            <!-- Navigation buttons -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <script>
        const swiper = new Swiper('.mySwiper', {
            loop: true,
            autoplay: {
                delay: 3000,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            slidesPerView: 1,
            spaceBetween: 10,
        });
    </script>

</div>