.btnAddRole{
    background-color: rgb(122, 178, 211);
    padding: 15px 20px;
    color: white;
    font-size: large;
    font-weight: 600;
    border-radius: 5px;

}
.btnAddRole i {
    font-size:x-large;
    font-weight: 800;

}
