.featured-article-title {
    font-size: 1.8rem; /* Điều chỉnh kích thước theo ý muốn */
    font-weight: bold;
}
.pagination {
    justify-content: center;
}

.page-item a {
    color: #007bff;
}

.page-item.active a {
    background-color: #007bff;
    color: white;
}

.page-item a:hover {
    text-decoration: none;
    color: #0056b3;
}

.my_tags {
    color: #aaa;
    border: solid 1px #aaa;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
}

.my_tags i{
    margin-right: 4px;
}