:root {
    --box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

    

.huy_navbar {
    background-color: #fff;
    /* box-shadow: var(--box-shadow); */
}

.my_footer {
    margin-top: 60px;
    border-top: 2px solid #ccc;
    padding: 24px 0;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    /* box-shadow: var(--box-shadow); */
    margin-bottom: 20px;
    /*left: 10px;*/
    /*right: 20px;*/
    /*bottom: 10px;*/
}