.custom_input_profile{
    width: 400px;
    height: 45px;
    display: inline-block;
    justify-content: flex-end;
    border: 1px solid rgb(122, 178, 211);
    color: rgb(26, 72, 99);
    border-radius: 0.25rem;
}
.custom_input_profile_no_border{
    border: none !important;
}

.profile_container_body{
    color: rgb(74, 98, 138);
    font-size: large;
}
.profile_container_header{
    color: white;
    background-color: rgb(74, 98, 138);
    margin-bottom: 20px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.button-container_Add {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSaveEdit{
    height: 60px;
    text-align: center;
    width: 180px;
    border: 1px solid rgb(74, 98, 138);
    background-color: rgb(74, 98, 138);
    color: white;
    gap: 10px;

}
.btnActionEdit{
    display: flex; /* Kích hoạt Flexbox cho nút */
    justify-content: center; /* Căn giữa nội dung theo chiều ngang */
    align-items: center; /* Căn giữa nội dung theo chiều dọc */
    text-align: center;
    font-weight: 500;
    font-size: large;
    border-radius: 5px;

}
