<div class="container">
    <div class="row" >
        <div class="col-11 mx-auto">
            <div class="d-flex justify-content-between mb-3">
                <div>Thời sự</div>
                <div>Chủ nhật, 17/11/2024, 12:06 (GMT+7)</div>
            </div>
            <div>
                <div>
                    <h1 style="font-weight: bold;" >Không khí lạnh đang tràn xuống miền Bắc</h1>
                </div>
                <div>
                    Không khí lạnh đang di chuyển xuống miền Bắc sẽ khiến nhiệt độ khu vực núi cao xuống mức rét hại, còn khu vực đồng bằng nhiệt độ thấp nhất 18-20 độ C.
                    Trung tâm Dự báo Khí tượng Thủy văn quốc gia cho biết khoảng chiều và đêm 17/11, không khí lạnh sẽ ảnh hưởng đến khu vực Đông Bắc Bộ sau đó mở rộng ra đồng bằng và Tây Bắc Bộ.
                    Trang Accuweather của Mỹ dự báo Hà Nội ngày mai giảm khoảng 3 độ so với hôm nay, xuống mức 21-30 độ C, đến giữa tuần nhiệt độ trong ngày dao động 19-28 độ. Điểm cao trên 1.500 m so với mực nước biển như Sa Pa (Lào Cai) đầu tuần 14-22 độ, đến cuối tuần xuống ngưỡng rét hại (trung bình ngày dưới 13 đô) từ 9-15 độ C
                </div>
                <img src="https://i5.walmartimages.com/seo/A-NEW-MY-NEIGHBOR-TOTORO-1988-TONARI-NO-TOTORO-directed-by-HAYAO-MIYAZAKI-Poster-Canvas-Posters-Framed-Unframed_4e105ab7-1643-4a16-97c8-c384c7796ea5.d59d754a68fd8b7fb0e6e03862c0eeb6.jpeg" alt="">
                <div>
                    Không khí lạnh đang di chuyển xuống miền Bắc sẽ khiến nhiệt độ khu vực núi cao xuống mức rét hại, còn khu vực đồng bằng nhiệt độ thấp nhất 18-20 độ C.
                    Trung tâm Dự báo Khí tượng Thủy văn quốc gia cho biết khoảng chiều và đêm 17/11, không khí lạnh sẽ ảnh hưởng đến khu vực Đông Bắc Bộ sau đó mở rộng ra đồng bằng và Tây Bắc Bộ.
                    Trang Accuweather của Mỹ dự báo Hà Nội ngày mai giảm khoảng 3 độ so với hôm nay, xuống mức 21-30 độ C, đến giữa tuần nhiệt độ trong ngày dao động 19-28 độ. Điểm cao trên 1.500 m so với mực nước biển như Sa Pa (Lào Cai) đầu tuần 14-22 độ, đến cuối tuần xuống ngưỡng rét hại (trung bình ngày dưới 13 đô) từ 9-15 độ C
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>