{{#section 'css'}}
<link rel="stylesheet" href="/public/css/admin/manage_product/add.css">
{{/section}}

{{#section 'js'}}
</script>

{{/section}}

<form action="" method="post">
    <a name="" id="" class=" mb-5 ml-3" href="/admin/category/list" role="button">
        <img src="/public/images/icon/back.png" alt="" width="40px">                               
    </a>
    <div class="container-fluid" style="padding: 20px 40px;">
        <div class="row">
            <div class="col-12">
                <div class="card info_part" style="font-weight: 500;">
                    <div class="card-header d-flex" style="background-color: rgb(74, 98, 138);">
                        <h5 style="color: white;" class="mr-3 mt-1">Edit Catergories Information</h5>
                        <img src="/public/images/icon/icons8-pencil-40.png" alt="" width="25px" height="25px" class="mt-1">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="txtCatID">Catergory ID</label>
                                        <input type="text" name="category_id" id="txtCatID" class="form-control"
                                            value="{{category.category_id}}" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="txtCatName">Name</label>
                                        <input type="text" name="category_name" id="txtCatName" class="form-control"
                                            value="{{category.category_name}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Danh mục cha</label>
                                    <div class="form-group">
                                        <select class="form-control" name="parent_category_id" id="">
                                            <option value="">Root</option>
                                            {{#each parentCat}}
                                            <option value="{{category_id}}" 
                                            {{#ifEquals ../category.parent_category_id category_id}}selected{{/ifEquals}}>
                                                {{category_name}}
                                            </option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="button-container_Edit mt-5">
                    <button type="submit" class="btnSaveEdit btnActionEdit " formaction="/admin/category/patch">
                        <img src="/public/images/icon/icons8-save-100.png" alt="" width="20%" >
                        Save
                    </button>
                    <button type="submit" class="btnDeleteArticle btnActionEdit" formaction="/admin/category/del">
                        Delete
                    </button>
                </div>


            </div>
        </div>
    </div>
</form>